/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
    position: relative;
}

.body-app {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header {
    height: 55px;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #141218;
    z-index: 99;
}

.container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    z-index: 99;
}

.logo {
    height: 24px;
}

.menu-list {
    margin-right: auto;
    margin-left: 67px;
}

.menu-link {
    font-size: 14px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
    margin-right: 24px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.social-link {
    display: block;
    max-width: 18px;
    text-decoration: none;
}

.social-link img {
    display: block;
    width: 100%;
}

.main-content {
    margin-top: 200px;
}

.genre {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    display: block;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.rating-number {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px;
}

.main-title {
    font-size: 48px;
    line-height: 89px;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 10px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.main-description {
    max-width: 458px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 85px;
}

.button {
    display: inline-block;
    background-color: var(--sub-color);
    border-radius: 8px;
    color: inherit;
    border: none;
    padding: 22px 72px;
    text-decoration: none;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.button:active {
    color: inherit;
}

.play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--sub-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: relative;
    margin: auto;
}

.play:before {
    content: "";
    width: 132px;
    height: 132px;
    background: var(--sub-color);
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    -webkit-animation: pulse 0.5s ease-in-out 0.5s infinite;
            animation: pulse 0.5s ease-in-out 0.5s infinite;
}

.play-img {
    position: relative;
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

.series {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    position: relative;
    max-width: 420px;
}

.card {
    position: relative;
    margin-right: 30px;
    width: 164px;
    height: 113.41px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 13px;
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.2)), to(#2d2d2d));
    background: -o-linear-gradient(top, rgba(20, 18, 24, 0.2) 0%, #2d2d2d 100%);
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.2) 0%, #2d2d2d 100%);
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-description {
    position: relative;
    z-index: 50;
    color: #fff;
}

.card-subtitle {
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 5px;
}

.card-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.arrow {
    width: 32px;
    height: 23px;
    border: none;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: -35px;
}

.swiper-container {
    max-width: 420px;
    margin-left: 0px;
}

.footer {
    background-color: inherit;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    margin-left: 25px;
}

.menu-button {
    display: none;
    z-index: 100;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color:rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease 0s;
    z-index: 100;
    overflow: scroll;
}

.is-open {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    position: relative;
    width: 600px;
    padding: 40px;
    background-color: #1d1817;
    color: #fff;
    border-radius: 5px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0, -100%);
}

.modal.is-open .modal-dialog {
  opacity: 1;
  transform: translate(0px, 0px);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 5px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.actor-info {
    margin: 10px 0;
}

.actor-name {
    margin-right: 20px;
    font-weight: 700;
}

.actor-character {
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
}

.cast-title, .seasons-title, .posters-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.season-number, .season-episodes, .season-name {
    display: block;
    margin-bottom: 10px;
}
.season-name {
    margin: 20px 0;
    font-size: 18px;
}
.actor-info, .season-info {
    border: 1px dashed rgba(255, 255, 255, 0.5);
    padding: 15px;
}
.season-info:not(:last-child) {
    margin-bottom: 40px;
}
.posters-gallery {
    display: flex;
    justify-content: space-between;
}
.poster-wrapper {
    width: 32%;
    padding: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
    .play {
        display: none;
    }
    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .copyright {
        display: block;
        margin-bottom: 8px;
    }

    .footer-link:first-child {
        margin-left: 0;
    }

    .container {
        width: 90%;
    }
    .menu-button {
        display: block;
        position: absolute;
        right: 35px;
        top: 28px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        border: none;
        cursor: pointer;
    }

    .menu-button:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin-top: -7px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .menu-button:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin-top: 8px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .menu-button-active {
        height: 0;
        background: transparent;
    }

    .menu-button-active:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-top: 0;
    }

    .menu-button-active:after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 0;
    }

    .header {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--sub-color);
        width: 100vw;
        height: 100vh;
        padding-top: 140px;
    }

    .header-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .logo {
        margin-bottom: 25px;
    }

    .menu-list {
        margin: 60px auto;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .menu-link {
        margin-right: 0;
        margin-bottom: 24px;
        font-size: 18px;
    }

    .social {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 22px;
    }

    .social-link:first-child {
        margin-left: 0;
    }

    .swiper-container {
        width: 80%;
    }

    .main-content {
        margin-top: 296px;
    }

    .main-title {
        font-size: 36px;
        line-height: 48px;
    }

    .series {
        max-width: 210px;
    }
}
